@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*  */

input[type=text] {
    padding: 6px;
    margin: 10px;
    font-size: 17px;
    border-radius: 3px;
    border: none;
    background-color: #dbab75a8;
  }

html {
    background-image: url('img/back-ground-weing.png');
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
}


/* .wapper {
    width: 960px;
    margin: auto;
} */

ul li {
    list-style: none;
    /* bỏ dấu chấm đầu mỗi item trong list */
}

.clearfix {
    clear: both;
}

nav {
    display: block;
    padding: 12px;
    display: inline-flexbox;
    background-color: #dbac75;
    border-radius: 12px;
}

nav h4 {
    float: left;
    margin: 17px 15px;
    color: white;
}

.nav-menu {
    float: right;
}

.nav-menu li {
    float: left;
}

.nav-menu li a {
    padding: 12px 15px;
    text-decoration: none;
    color: #422c13;
    font-weight: 1000;
}

.nav-menu li a:hover {
    color: white;
    background-color: #694D2C;
    border-radius: 5px;
}

.logo-nav {
    float: left;
    height: 60px;
}

.cta-butt {
    float: right;
    padding: 3px 16px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #694D2C;
}

.img-footer {
    width: 85%;
    display: block;
    margin: auto
}

.booking-form {
    display: flex;
    padding: 0px 10% 0 10%;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.booking-form .form {
    width: 50%;

}

.booking-form .product-img {
    width: 50%;

}

.form label {
    padding: 10px 0 0 0;
    font-weight: 700;
    width: 100%;
}

.form input {
    width: 80%;
}



.booking-form .product-img img {
    align-items: center;
    padding: 0 10% 2% 10%;
    width: 80%;
}

.booking-form .product-img h5 {
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
}

.submit-button {
    width: 191px;
    height: 40px;
    background: #694D2C;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
    align-items: center;
    padding: 0;
    margin: 0;
}

.submit-button:hover {
    width: 50%;
    background-color: #FFA234;
}

h2 {
    text-align: center;
    margin-bottom: 31px;
    font-size: 32px;
    color: #626a67;
}